.container {
  margin: 100px;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "header header"
    "catalog main";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  border: 2px solid black;
  height: 100%;
  background-color: lightgray;
}

.catalog {
  grid-area: catalog;
  border: 2px solid black;
  background-color: lightgray;
  height: 100%;
}

.thread {
  margin-top: 10px;
  background-color: lightgray;
  border: 1px black solid;
}

.threadHeader {
  background-color: bisque;
}

.threadTitle {
  margin: 0px;
}

.threadContent {
  display: flex;
  background: aquamarine;
}

.theadContentText {
  margin: 10px;
  vertical-align: top;
}


.info {
  justify-content: start;
  height: 20px;
  background-color: grey;
}

.post {
  border: 1px black solid;
  margin: 4px;
}



.categoryList {
  padding: 10px;
}