.container {
  margin: 100px;
  display: grid;
  grid-template-columns: 10%, 90%;
  grid-template-areas:
    "itemA itemB";

}

.thread {
  margin-top: 10px;
  background-color: lightgray;
  border: 1px black solid;
}

.threadHeader {
  background-color: bisque;
}

.threadTitle {
  margin: 0px;
}

.threadContent {
  display: flex;
  background: aquamarine;
}

.theadContentText {
  margin: 10px;
  vertical-align: top;
}


.info {
  justify-content: start;
  height: 20px;
  background-color: grey;
}

.post {
  border: 1px black solid;
  margin: 4px;
}

.itemB {
  border: 2px solid black;
  height: 100%;
  background-color: lightgray;
}

.itemA {
  border: 2px solid black;
  background-color: lightgray;
  height: 100%;
}

.categoryList {
  padding: 10px;
}