.container {
  margin: 50px;
  display: grid;
  grid-template-columns: 150px auto;
  background-color: lightgray;
  grid-template-areas:
    'header header'
    'catalog main';
}

.logoHeader {
  font-size: 50px;
}

.header {
  grid-area: header;
  text-align: center;
  border: 2px solid black;
  border-bottom: 0px;
}

.main {
  grid-area: main;
  border: 2px solid black;
}

.catalog {
  grid-area: catalog;
  border: 2px solid black;
  border-right-width: 0px;
  background-color: lightgray;
  padding: 0px 10px 0px 10px;
}

.thread {
  margin-top: 10px;
  background-color: lightgray;
  border: 1px black solid;
}

.threadHeader {
  background-color: bisque;
}

.threadTitle {
  margin: 0px;
}

.threadContent {
  display: flex;
  background: aquamarine;
}

.theadContentText {
  margin: 10px;
  vertical-align: top;
}

.postInfo {
  padding: 3px 3px 3px 10px;
  background-color: grey;
  border-bottom: 1px black solid;
}

.post {
  border: 1px black solid;
  margin: 4px;
  overflow: hidden;
}
